body {
    font-family: sans-serif;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: lightgrey;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid white;
    padding: 0.2em 0;
    text-align: center;
}

#template {
    display: none;
}

.stunde {
    width: 4em;
}

.zeit {
    width: 7.5em;
}

.day {
    width: 7.5em;
}

.subject {

}

.mathe, .lernband_m {
    background-color: cornflowerblue;
}

.deutsch, .leseband, .lernband_d {
    background-color: coral;
}

.d\/m {
    background-image: linear-gradient(to right, coral, cornflowerblue);
}

.englisch {
    background-color: khaki;
}

.sport, .zirkus {
    background-color: aqua;
    border: 2px solid black;
}

.bk, .kunst {
    color: white;
    background-color: darkolivegreen;
}

.sozialkunde, .klassenrat, .physik {
    color: white;
    background-color: blueviolet;
}

.musik, .orchester {
    background-color: lightpink;
}

.ethik, .religion {
    color: white;
    background-color: darkmagenta;
}

.bnt, .su {
    color: white;
    background-color: brown;
}

.schwimmen, .tennis {
    background-color: deepskyblue;
    border: 2px solid black;
}

.geo {
    background-color: seagreen;
}

.bio {
    background-color: lightgreen;
}

.geschichte, .g {
    background-color: saddlebrown;
    color: white;
}

.französisch, .franz, .italienisch {
    background-color: darkblue;
    color: white;
}

.x, .ku, .df, .kuckmal {
    background-color: cornflowerblue;
}

.perle, .ha {
    background-color: orange;
}

.themen-angebot {
    background-color: cornsilk;
}

.klassenzeit {
    background-color: violet;
}

.spüldienst {
    background-image: linear-gradient(red, yellow);
}

.kung-fu {
    color: white;
    background-image: linear-gradient(to right, white, yellow, red, green, blue, purple, brown, black);
}

.ferien {
    color: white;
    background-color: grey;
}

.attribute {
    font: 8px serif;
}
