body {
    font-family: sans-serif;
    box-sizing: border-box;
}

#template {
    display: none;
}

.stunde {
    width: 4em;
    text-align: center;
}

.zeit {
    width: 8em;
}

.day {
    width: 8em;
}

.subject {
    padding: 0.2em;
    text-align: center;
}

.mathe {
    background-color: cornflowerblue;
}

.deutsch {
    background-color: coral;
}

.englisch {
    background-color: khaki;
}

.sport {
    background-color: aqua;
}

.bk {
    background-color: darkolivegreen;
}

.sozialkunde {
    background-color: blueviolet;
}

.musik {
    background-color: lightpink;
}

.ethik, .religion {
    color: white;
    background-color: darkmagenta;
}

.bnt {
    background-color: brown;
}

.schwimmen-bnt {
    background-image: linear-gradient(0.25turn, deepskyblue, brown);
}

.kl {
    background-color: greenyellow;
}

.geo {
    background-color: seagreen;
}

.x {
    background-color: cornflowerblue;
}

.perle {
    background-color: orange;
}

.themenangebot {
    background-color: cyan;
}

.klassenzeit {
    background-color: violet;
}

.attribute {
    font: 8px serif;
}
