body {
    font-family: sans-serif;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: lightgrey;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid white;
    padding: 0.2em 0;
    text-align: center;
}

#template {
    display: none;
}

.stunde {
    width: 4em;
}

.zeit {
    width: 7.5em;
}

.day {
    width: 7.5em;
}

.subject {

}

.mathe {
    background-color: cornflowerblue;
}

.deutsch {
    background-color: coral;
}

.englisch {
    background-color: khaki;
}

.sport {
    background-color: aqua;
}

.bk, .kunst {
    color: white;
    background-color: darkolivegreen;
}

.sozialkunde {
    color: white;
    background-color: blueviolet;
}

.musik {
    background-color: lightpink;
}

.ethik, .religion {
    color: white;
    background-color: darkmagenta;
}

.bnt {
    color: white;
    background-color: brown;
}

.schwimmen {
    background-color: deepskyblue;
}

.geo {
    background-color: seagreen;
}

.x, .ku {
    background-color: cornflowerblue;
}

.perle {
    background-color: orange;
}

.themen-angebot {
    background-color: cornsilk;
}

.klassenzeit {
    background-color: violet;
}

.kung-fu {
    color: white;
    background-color: black;
}

.ferien {
    color: white;
    background-color: gray;
}

.attribute {
    font: 8px serif;
}
